
<div>
  <% if @artist.image? %>
    <img src='<%= @artist.image_id %>' >
  <% else %>
    <image src="/assets/no_image.png" >
  <% end %>
</div>

<div class="artist-name">
  <span><% @artist.name %></span>
</div>

<div>
  <p><% @artist.career %></p>
</div>

<div>
<%# <% if @artist.id == current_artist.id? %> 
  <%= link_to 'edit', edit_artist_path(@artist) %>
<%# <% end %> 
</div>